node_modules/
WebCrawler/Adolescent_fertility_rate_(per_1000_women).csv
WebCrawler/Age-standardized_mortality_rate_by_cause_(ages_30-70_per_100_000_population)-All_causes.csv
WebCrawler/Age-standardized_mortality_rate_by_cause_(ages_30-70_per_100_000_population)-Cancer.csv
WebCrawler/Age-standardized_mortality_rate_by_cause_(ages_30-70_per_100_000_population)-Cardiovascular_disease_and_diabetes.csv
WebCrawler/Age-standardized_mortality_rate_by_cause_(ages_30-70_per_100_000_population)-Chronic_respiratory_conditions.csv
WebCrawler/Age-standardized_mortality_rate_by_cause_(per_100_000_population)-Communicable.csv
WebCrawler/Age-standardized_mortality_rate_by_cause_(per_100_000_population)-Injuries.csv
WebCrawler/Age-standardized_mortality_rate_by_cause_(per_100_000_population)-Noncommunicable.csv
WebCrawler/Domestic_Tourism.csv
WebCrawler/Employment_tourism.csv
WebCrawler/Inbound_Tourism.csv
WebCrawler/Infant_mortality_rate_(probability_of_dying_between_birth_and_age_1_per_1000_live_births).csv
WebCrawler/Intentional_Homicide_Victims_by_counts_and_rates_per_100000_population.csv
WebCrawler/Intentional_homicide_victims_by_sex_counts_and_rates_per_100000_population.csv
WebCrawler/Outbound_Tourism.csv
WebCrawler/Population_median_age_(years).csv
WebCrawler/Total_fertility_rate_(per_woman).csv
WebCrawler/Tourism_Industries.csv
