<div class="custom-bg fixed-top">
  <div class="container my-2">
    <div class="row">
      <div class="col-auto mx-auto">
        <div class="text-center">
          <div
            class="nav-bgc sticky-top d-flex justify-content-between align-items-center px-4"
          >
            <a href="/" class="h-75">
              <img
                src="/images/DataVizion-Logo2.png"
                alt="Logo de la aplicacion"
                class="nav-logo"
              />
            </a>
            <a href="#" class="nav-link" data-option="1">Homicidios</a>
            <a href="#" class="nav-link" data-option="2">OMS</a>
            <a href="#" class="nav-link" data-option="3">Turismo 3</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

document.addEventListener('DOMContentLoaded', function() {
 
  // Obtener el elemento del sidebar
  const sidebar = document.querySelector('.list-group');

  // Escuchar eventos de clic en los elementos del navbar
  document.querySelectorAll('.nav-link').forEach(link => {
    link.addEventListener('click', e => {
      e.preventDefault();
      // Obtener el número de opción del atributo data-option del enlace
      const option = e.target.getAttribute('data-option');
      // Limpiar el contenido del sidebar
      sidebar.innerHTML = '';
      // Agregar nuevas opciones dependiendo del número de opción seleccionado
      if (option === '1') {
        sidebar.innerHTML = `
            <a href="#" class="list-group-item list-group-item-action bg-light"> Promedio de Victimas de Homicidio por país </a>
            <a href="#" class="list-group-item list-group-item-action bg-light"> Promedio, máximo y mínimo de Homicidios por Región por año</a>
            <a href="#" class="list-group-item list-group-item-action bg-light"> Promedio, máximo y mínimo de Homicidios por Subregión por año </a>
             <a href="#" class="list-group-item list-group-item-action bg-light"> Promedio de Victimas de Homicidio por país por sexo </a>
            <a href="#" class="list-group-item list-group-item-action bg-light"> Promedio, máximo y mínimo de Homicidios por Región y sexo por año</a>
            <a href="#" class="list-group-item list-group-item-action bg-light"> Promedio, máximo y mínimo de Homicidios por Subregión y sexo por año </a>
             <a href="#" class="list-group-item list-group-item-action bg-light"> Promedio, máximo y mínimo de Homicidios por Región y sexo por década </a>
            <a href="#" class="list-group-item list-group-item-action bg-light"> Promedio, máximo y mínimo de Homicidios por Subregión y sexo por década</a>
        ` ;
      } else if (option === '2') {
        sidebar.innerHTML = 
          `<a href="#" class="list-group-item list-group-item-action bg-light"> Porcentaje de muertes por de personas entre 30 y 70 por cancer respecto al total </a>
           <a href="#" class="list-group-item list-group-item-action bg-light"> Porcentaje de muertes por de personas entre 30 y 70 por enfermedades cardiovasculares respecto al total </a> 
           <a href="#" class="list-group-item list-group-item-action bg-light"> Porcentaje de muertes por de personas entre 30 y 70 por enfermedades respiratorias respecto al total </a>
           <a href="#" class="list-group-item list-group-item-action bg-light"> Promedio, máximo y mínimo de muertes por país de causas comunicadas </a> 
           <a href="#" class="list-group-item list-group-item-action bg-light"> Promedio, máximo y mínimo de muertes por país de causas sin comunicadas </a> 
           <a href="#" class="list-group-item list-group-item-action bg-light"> Promedio, máximo y mínimo de muertes por país de heridas </a> 
           <a href="#" class="list-group-item list-group-item-action bg-light"> Diferencia entre el primer año de medido de edad promedio por país y el último año medido </a> 
           <a href="#" class="list-group-item list-group-item-action bg-light"> Edad promedio por país por década </a>
           <a href="#" class="list-group-item list-group-item-action bg-light"> Cantidad de población por década </a> 
           <a href="#" class="list-group-item list-group-item-action bg-light"> Porcentaje de fertilidad en adolescentes por cada 1000, por década y país </a> 
           <a href="#" class="list-group-item list-group-item-action bg-light"> Porcentaje de fertilidad en adolescentes por cada 1000, por el quintil económico, país y década. </a> 
           <a href="#" class="list-group-item list-group-item-action bg-light"> Porcentaje de fatalidad infantil antes del primer año por cada 1000, por quintil económico,país y década. </a> 
           <a href="#" class="list-group-item list-group-item-action bg-light"> El porcentaje de fertilidad por década por país </a>
           <a href="#" class="list-group-item list-group-item-action bg-light"> Total, gastado en salud por país y década </a> 
           <a href="#" class="list-group-item list-group-item-action bg-light"> Porcentaje gastado en salud por país y década del total del presupuesto del gobierno </a> 
           <a href="#" class="list-group-item list-group-item-action bg-light">Expectativa de vida al nacimiento por país y década </a> `;
          
      } else if (option === '3') {
        sidebar.innerHTML = 
        `<a href="#" class="list-group-item list-group-item-action bg-light"> Total, de turistas que entran por país por década </a> 
         <a href="#" class="list-group-item list-group-item-action bg-light"> Total, de turistas que salen del país por década </a>`;
      }
    });
  });

});
</script>