<div class="sidebar">
    
        <nav class="list-group">
            <a href="#" class="list-group-item list-group-item-action bg-light"> Homicidios1 </a>
            <a href="#" class="list-group-item list-group-item-action bg-light"> Homicidios2 </a>
            <a href="#" class="list-group-item list-group-item-action bg-light"> Homicidios3 </a>
        </nav>
   
  </div>
  