<div class="sidebar">
    
        <nav class="list-group">
            <a href="#" class="list-group-item list-group-item-action bg-light"> Promedio de Victimas de Homicidio por país </a>
            <a href="#" class="list-group-item list-group-item-action bg-light"> Promedio, máximo y mínimo de Homicidios por Región por año</a>
            <a href="#" class="list-group-item list-group-item-action bg-light"> Promedio, máximo y mínimo de Homicidios por Subregión por año </a>
             <a href="#" class="list-group-item list-group-item-action bg-light"> Promedio de Victimas de Homicidio por país por sexo </a>
            <a href="#" class="list-group-item list-group-item-action bg-light"> Promedio, máximo y mínimo de Homicidios por Región y sexo por año</a>
            <a href="#" class="list-group-item list-group-item-action bg-light"> Promedio, máximo y mínimo de Homicidios por Subregión y sexo por año </a>
             <a href="#" class="list-group-item list-group-item-action bg-light"> Promedio, máximo y mínimo de Homicidios por Región y sexo por década </a>
            <a href="#" class="list-group-item list-group-item-action bg-light"> Promedio, máximo y mínimo de Homicidios por Subregión y sexo por década</a>
        </nav>
   
  </div>
  