<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>

  <body>
    <h1>Bienvenido a DataVizion</h1>
    <p>Sitio de visualizacion de estadisticas sobre diversos datos.</p>
  </body>
  
</html>
