<div class="my-3">
  <canvas id="bar_chart"></canvas>
</div>

<script>
  var ctx = document.getElementById("bar_chart").getContext("2d");
  var lab = "<%= labels %>".split(",");
  var chartData = "<%= chartData %>".split(",").map(Number);

  

  var chart = new Chart(ctx, {
    // chart type
    type: "bar",

    // chart data
    data: {
      labels: lab, //Info de una dimens axes: pais
      datasets: [
        {
          label: "Ventas mensuales",
          data: chartData, //Promedios
          backgroundColor: [
            "rgba(255, 99, 132, 0.2)",
            "rgba(54, 162, 235, 0.2)",
            "rgba(255, 206, 86, 0.2)",
            "rgba(75, 192, 192, 0.2)",
            "rgba(153, 102, 255, 0.2)",
            "rgba(255, 159, 64, 0.2)",
          ],
          borderColor: [
            "rgba(255, 99, 132, 1)",
            "rgba(54, 162, 235, 1)",
            "rgba(255, 206, 86, 1)",
            "rgba(75, 192, 192, 1)",
            "rgba(153, 102, 255, 1)",
            "rgba(255, 159, 64, 1)",
          ],
          borderWidth: 1,
        },
      ],
    },
  });
</script>
