<div class="my-3">
  <canvas id="line_chart"></canvas>
</div>

<script>
  var ctx = document.getElementById("line_chart").getContext("2d");

  var jsonDataStr = `<%- JSON.stringify(lista, null, 2).replace(/"/g, '\\"') %>`;
  var jsonData = JSON.parse(jsonDataStr);

  var datasetLabel, datasetData, dataLabel;

  // Check if the data is from a different table
  if (jsonData.report == "PromedioVictimas") {
    datasetLabel = "Average";
    datasetData = jsonData.average;
    dataLabel = jsonData.country;
  } else if (jsonData.report == "HomicidesTrend") {
    datasetLabel = "Total";
    datasetData = jsonData.total;
    dataLabel = jsonData.country;
  } else if (jsonData.report == "PromVicsXSexo") {
    datasetLabel = "Average";
    datasetData = jsonData.average;
    dataLabel = jsonData.sex;
  } 

  var myChart = new Chart(ctx, {
    type: "line",
    data: {
      labels: dataLabel,
      datasets: [
        {
          label: datasetLabel,
          data: datasetData,
          fill: false,
          borderColor: "rgb(75, 192, 192)",
          tension: 0.1,
        },
      ],
    },
  });
</script>